* {
  margin: 0;
}

body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  background-color: green;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  color: white;
  line-height: 1px;
  font-family: 'Courier New', Courier, monospace;
}

#minha_foto {
  margin-top: 40px;
  width: 200px;
}

#foto {
  text-align: center;
}

#lista-aprender {
  display: inline-block;
  margin: 0 auto;
  font-size: 20px;
}

#lista-aprendizado {
  display: inline-block;
  margin: auto;
  margin-top: 10px;
  font-size: 20px;
}

.centraliza {
  text-align: center;
  border: 1px solid black;
}
